/**
* Document
 *
 * Base document layout and setup.
 *
 * @section Base
 * @author ljd
 */
* {
	box-sizing: border-box;
}
*:before,
*:after {
	box-sizing: border-box;
}
html,
body {
	overflow: hidden;
}
html {
	@include establish-baseline();
	@include experimental(user-select, none);
	
	min-height: 100%;

	position: relative;

	font-family: $font-stack-sans;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	color: $color-white;
	
	background: $color-black;
}