/**
 * Typography
 *
 * @section Base
 * @author ljd
 */
h1, h2, h3, h4, h5, h6 {
	margin: 0 0 $base-line-height * 2;

	@include adjust-font-size-to(modular-scale(3));
}
h2 {
	@include adjust-font-size-to(modular-scale(2));
}
h3 {
	@include adjust-font-size-to(modular-scale(1));
}
h4, h5, h6 {
	@include adjust-font-size-to(modular-scale(0));
}
p,
ol,
ul,
blockquote,
figure,
figcaption,
table {
	display: block;
	margin: 0 0 $base-line-height * 2;
	padding: 0;
}
code {
	@include adjust-font-size-to(modular-scale(0));
}
hr {
	margin: 0 0 $base-line-height * 2;
	height: 1px;
	border: none;
	background: $color-black;
}
mark {
	display: inline-block;
	padding: 0 0.25em;

	color: $color-black;
	
	background: $color-white;
}
// Print
@media print {
	p,
	ol,
	ul,
	li,
	blockquote,
	figure,
	figcaption {
		margin: 0 0 $base-line-height * 1;
	}
}